@use "/src/assets/style/global.scss" as *;

.conteiner {
  position: relative;
}

.chains {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.background {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.tree {
  border-radius: 5px;
  padding: 27px 21px;

  position: relative;
  top: -10px;
}

.input {
  @include info;
}

.name {
  @include info;
  font-size: 36px;
  line-height: 52px;
  width: 70%;
}

.span {
  @include info;
  padding: 10px;
}

.img--chain {
  height: 65px;
}

.head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.base{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}