@use "/src/assets/style/global.scss" as *;

.container {
  position: relative;
  top: -20px
}

.chains {
  @include chains;
}

.background {
  @include background;
}

.tree {
  border-radius: 5px;
  padding: 27px 21px;

  position: relative;
  top: -10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 15px;
}

.input {
  @include info;
}

.img--chain {
  height: 65px;
}

.base{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}