.background {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  z-index: -10;
}

.container {
  position: relative;
  display: flex;
}

.left{
  margin: 0 20px 20px;
}

.right{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 20px;
}

.option{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}