@use "/src/assets/style/global.scss" as *;

.chains{
  @include chains;
}

.tree{
  border-radius: 5px;

  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: relative;
  top: -10px;
  padding: 30px 20px;
}

.background {
  @include background;
}

.img--chain {
  height: 65px;
}